<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}智能校事專家{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_window/login_pop.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>

<body>
    {% include "navbar.html" %}

    <!-- 主要內容區域 -->
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <!-- 頁腳 -->
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}

    {% include 'pop_window/login_pop.html' %}
    
    <!-- JavaScript 文件 -->
    <script src="{% static 'js/pop_window/login_pop.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    {% block body_js %}{% endblock %}
</body>
</html>




