<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}智能校事專家{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_window/login_pop.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>

<body>
    {% block header %}
    <nav class="navbar navbar-initial" id="navbar">         
      <a href="/index/" class="logo">
          <img class="Logo"  src="{% static 'image/logo.png' %}">
      </a>         
      <ul class="nav-links">             
          <li><a href="/chat/">校規查詢</a></li>             
          <li><a href="/comment/">課程評論區</a></li>             
          <li><a href="/join/">活動召集</a></li>             
          <li><a href="/book/">二手書專區</a></li>         
      </ul>         
      <div class="user-menu">
          <div class="user-circle" id="userMenuButton">             
              <i class="fa-solid fa-user"></i>         
          </div>
          <div class="user-dropdown" id="userDropdown">
              <a href="#" class="dropdown-item" id="loginButton">登入</a>
              <a href="/personal/" class="dropdown-item" id="personalButton">個人中心</a>
              <form action="{% url 'logout' %}" method="post" id="logoutForm" style="cursor: pointer;">
                  {% csrf_token %}
                  <a href="/welcome/" type="button" class="dropdown-item" id="logoutButton">登出</a>
              </form>
          </div>
      </div>
    </nav>
    {% endblock %}

    <!-- 主要內容區域 -->
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <!-- 頁腳 -->
    {% block footer %}
      <footer>
        <div class="fowl"></div>
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        
        <div class="footer-info">
          <div class="footer-title">
              <div class="footer-logo">智能校事專家</div>
              <div></div>
          </div>
          <div class="footer-links">
            <div class="name">簡介</div>
            <div class="aaa">
              <p>北商blackboard平台</p>
              <p>北商Timetable平台</p>
              <p>北商學生資訊系統</p>
            </div>
          </div>
          <div class="footer-contact">
            <div class="name">聯絡資訊</div>
            <div class="details">
              <p>02 - 5392 - 7084</p>
              <p>ntubimd114510@gmail.com</p>
              <p class="social-icons">
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              </p>
            </div>
          </div>
          <div class="footer-backup">
            <img class="backupowl"  src="{% static 'image/backup.png' %}" alt="backup"  onclick="scrollToTop()">
          </div>
        </div>
      </footer>
    {% endblock %}

    {% include 'pop_window/login_pop.html' %}
    
    <!-- JavaScript 文件 -->
    <script src="{% static 'js/pop_window/login_pop.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    {% block body_js %}{% endblock %}
</body>
</html>
