<!-- login_pop.html - 登入彈跳視窗 -->
<div id="loginModal" class="login-modal">
    <div class="login-container">
        <span class="close-modal">&times;</span>
        <div class="login-sidebar">
            <h2>登入</h2>
            <div class="sidebar-text">
                請使用學校帳號進行登入
            </div>
        </div>
        <div class="login-form">
            <form id="loginForm">
                <div class="login-buttons">
                    <a class="other-login-btn" href="{% url 'social:begin' 'google-oauth2' %}?prompt=select_account">
                        <img class="login-img" src="/static/image/login.png" alt="Google 登入">
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>